In [1]:
import pandas as pd

In [3]:
train = pd.read_table('wikipedia-biography-dataset/train/train.nb')

In [4]:
train

         8
0        1
1        2
2        2
3       13
4        9
...     ..
582653  11
582654   2
582655   5
582656  15
582657   3

[582658 rows x 1 columns]

In [18]:
train_box = pd.read_table('wikipedia-biography-dataset/train/train.sent',header=0,delimiter='\t')

In [20]:
print(train_box)

        walter extra is a german award-winning aerobatic pilot , chief aircraft designer and founder of extra flugzeugbau -lrb- extra aircraft construction -rrb- , a manufacturer of aerobatic aircraft .
0             extra was trained as a mechanical engineer .
1        he began his flight training in gliders , tran...
2        he built and flew a pitts special aircraft and...
3        extra began designing aircraft after competing...
4        his aircraft constructions revolutionized the ...
...                                                    ...
2395097  as of 2009 , strzemp 's tournament winnings ex...
2395098  his son , john strzemp , iii , is also a poker...
2395099  jennifer bertino-tarrant is a member of the il...
2395100  the 49th district includes all or part of boli...
2395101  prior to her service as an illinois state sena...

[2395102 rows x 1 columns]